.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  padding: 50px;
}

.body::after {
  content: "";
  width: 460px;
  /* display: flex;
  width: 560px; */
}
